{% extends 'base.html' %}


{% block content %}
<body>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4>Kitob xarid qilish</h4>
        </div>
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary mt-3">Xarid qilish</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
{% endblock content %}